.quick-shutdown-button {
    padding: 0 8px;
}

.red-style {
    padding: 0 8px;
    background-color: rgb(119, 14, 3); 
}

.red-style:hover {
    background-color: rgb(204, 26, 7); 
}

.red-style:active {
    background-color: rgba(231, 76, 60, 0.5); 
}

.red-style StIcon {
    color: #ffffff;
}