.quick-shutdown-button {
    padding: 0 8px;
}

/* Hide the standard shutdown icon in quick settings */
.quick-settings-power-item {
    display: none;
}

/* Settings for the red style of the button */
.red-style {
    padding: 0 8px;
    background-color: rgb(119, 14, 3); 
}

.red-style:hover {
    background-color: rgb(204, 26, 7); 
}

.red-style:active {
    background-color: rgba(231, 76, 60, 0.5); 
}

.red-style StIcon {
    color: #ffffff;
}